<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Contents</title>
</head>
<body>
    <h1>Contents of File 1:</h1>
    <pre>{{ file1_content }}</pre>  <!-- Display content of file1.txt -->

    <h1>Contents of File 2:</h1>
    <pre>{{ file2_content }}</pre>  <!-- Display content of file2.txt -->

    <h1>Contents of File 3:</h1>
    <pre>{{ file3_content }}</pre>  <!-- Display content of file3.txt -->
</body>
</html>


