<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Contents</title>
</head>
<body>
    <h1 style="font-family: Arial, sans-serif;">Network Info:</h1>
    <pre>{{ file1_content }}</pre>  <!-- Display content of file1.txt -->

    <h1 style="font-family: Arial, sans-serif;">Routing Info:</h1>
    <pre>{{ file2_content }}</pre>  <!-- Display content of file2.txt -->

    <h1 style="font-family: Arial, sans-serif;">Listening Ports:</h1>
    <pre>{{ file3_content }}</pre>  <!-- Display content of file3.txt -->

    <h1 style="font-family: Arial, sans-serif;">Kernel Version:</h1>
    <pre>{{ file4_content }}</pre>  <!-- Display content of file3.txt -->

    <h1 style="font-family: Arial, sans-serif;">Failed Services:</h1>
    <pre>{{ file5_content }}</pre>  <!-- Display content of file3.txt -->
</body>
</html>


